# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - lpdg-server

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_e83dcca1e1d24fcbbe5d7273f88e0932 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_fcada97e49274ffe829b99818f5a834c }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_e83dcca1e1d24fcbbe5d7273f88e0932 }}/ashwamegh/lpdg-server:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'lpdg-server'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_82f8051ff07e46d2a88e583b40d7ed5d }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_e83dcca1e1d24fcbbe5d7273f88e0932 }}/ashwamegh/lpdg-server:${{ github.sha }}'